// ---------------------------------------------------------===
// Btn style
// ---------------------------------------------------------===

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  vertical-align: middle;
  height: 48px;
  padding: 6px 20px 4px;
  position: relative;
  border: none;
  margin: 0;
  outline: none;
  font: 400 16px/1.4 $abcfavorit-mono;
  color: $white;
  background-color: $grey-dark;

  @include media('<tablet') {
    font-size: 12px;
    line-height: 1.2;
    height: 32px;
    padding: 4px 14px 2px;
  }

  &,
  &:after {
    @include animate(background-color);
    clip-path: polygon(0% 14px, 4px 14px, 4px 9px, 7px 9px, 7px 5px, 12px 5px, 12px 0%, calc(100% - 12px) 0%, calc(100% - 12px) 5px, calc(100% - 7px) 5px, calc(100% - 7px) 9px, calc(100% - 4px) 9px, calc(100% - 4px) 14px, 100% 14px, 100% calc(100% - 14px), calc(100% - 4px) calc(100% - 14px), calc(100% - 4px) calc(100% - 9px), calc(100% - 7px) calc(100% - 9px), calc(100% - 7px) calc(100% - 5px), calc(100% - 12px) calc(100% - 5px), calc(100% - 12px) 100%, 14px 100%, 14px calc(100% - 4px), 9px calc(100% - 4px), 9px calc(100% - 7px), 4px calc(100% - 7px), 4px calc(100% - 12px), 0 calc(100% - 12px));
  }

  &:after {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: -1;
  }

  &:hover {
    background-color: $grey-07;
    color: $grey-mid;
  }

  &:hover,
  &:hover:after {
    clip-path: polygon(0% 14px, 4px 14px, 4px 9px, 7px 9px, 7px 5px, 12px 5px, 12px 0%, calc(100% - 40px) 0, calc(100% - 40px) 2px, calc(100% - 30px) 2px, calc(100% - 30px) 4px, calc(100% - 12px) 4px, calc(100% - 12px) 8px, calc(100% - 7px) 8px, calc(100% - 7px) 12px, calc(100% - 4px) 12px, calc(100% - 4px) 16px, 100% 16px, 100% calc(100% - 14px), calc(100% - 4px) calc(100% - 14px), calc(100% - 4px) calc(100% - 9px), calc(100% - 7px) calc(100% - 9px), calc(100% - 7px) calc(100% - 5px), calc(100% - 12px) calc(100% - 5px), calc(100% - 12px) 100%, 35px 100%, 35px calc(100% - 2px), 25px calc(100% - 2px), 25px calc(100% - 5px), 14px calc(100% - 5px), 14px calc(100% - 7px), 9px calc(100% - 7px), 9px calc(100% - 11px), 5px calc(100% - 11px), 5px calc(100% - 16px), 0 calc(100% - 16px));
  }

  &:disabled,
  &.disabled {
    &,
    &:after {
      background-color: $grey-mid;
      color: $grey-light;
      pointer-events: none;
    }
  }

  i {
    font-size: 11px;
    margin-top: -4px;
  }
}

.btn--sm {
  height: 32px;
  font-size: 12px;
  line-height: 1.2;
  padding: 4px 14px 2px;
}

.btn--white {
  background-color: $white;
  color: $grey-dark;
}

.btn--outline-black {
  background-color: $grey-dark;
  color: $grey-dark;

  &:after {
    content: '';
    background-color: $white;
  }

  &:hover {
    background-color: $grey-dark;
    color: $grey-06;

    &:after {
      background-color: $grey-mid;
    }
  }
}

.btn--outline-white {
  background-color: $white;
  color: $white;

  &:after {
    content: '';
    background-color: $azure;
  }

  &:hover {
    background-color: $white;
    color: $azure;

    &:after {
      background-color: $white;
    }
  }
}

.btn-link {
  display: inline-block;
  font: 14px/1 $abcfavorit-mono;
  color: $grey-dark;
  position: relative;
  padding-bottom: 4px;

  &:before {
    @include animate(all);
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    height: 1px;
    background: $grey-mid;
    width: 0;
  }

  &:after {
    @include animate(all);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $grey-dark;
    width: 0;
  }

  &:hover {
    color: $grey-mid;

    &:after {
      width: 60%;
      background: $grey-mid;
    }

    &:before {
      width: 50%;
    }
  }

  &.disabled {
    background: $grey-mid;
    pointer-events: none;

    &:after {
      background: $grey-mid;
    }
  }

  &.underlined {

    &:after {
      width: 100%;
    }

    &:hover:after {
      width: 60%;
    }
  }
}