.cookies {
	background: $grey-dark;
	padding: 21px 0;
	position: sticky;
	bottom: 0;
	color: $white;
	font: 16px/1.4 $abcfavorit;
	z-index: 99;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p {
		margin: 0;
	}

	.btns-wrap {
		@extend %listreset;
		display: flex;
		flex-wrap: wrap;
		margin: -4px;

		li {
			padding: 4px;
		}
	}
}