// ---------------------------------------------------------===
// Divider style
// ---------------------------------------------------------===

.divider {
  margin: 0;
  height: 1px;
  background: $black;
  border: none;
}

.divider-40 {
  padding-top: 40px;
}

.section-divider {
  border-top: 1px solid $black;
  
  &.bg-grey {
    background: $grey-01;
  }
}