// ---------------------------------------------------------===
// Divider style
// ---------------------------------------------------------===

.divider {
  margin: 0;
  height: 1px;
  background: $black;
  border: none;
}

.divider-40 {
  padding-top: 40px;
}

.section-divider {
  border-top: 1px solid $black;
  
  &.bg-grey {
    background: $grey-01;
  }

  + .team {
    padding-top: 54px;

    @include media('<tablet') {
      padding-top: 26px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}