// ---------------------------------------------------------===
// Highlight styles
// ---------------------------------------------------------===

.highlight-list {
  @extend %listreset;
  @extend .h5;

  @include media('>=tablet') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 39px 10px;
  }
  
  @include media('>=desktop') {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 59px 15px;
  }

  @include media('<tablet') {
    font-size: 24px;
    line-height: 1.2;
  }

  &.three-cols {

    @include media('>=desktop') {
      grid-template-columns: repeat(3, 1fr);
    }

    > li:after {
      background-size: 12px 1px;
    }
  }

  &.three-items {

    @include media('>=desktop') {
      grid-template-columns: repeat(3, 1fr);
    }

    > li:after {
      background-size: 9px 1px;
    }
  }

  &.has-alphabets {

    @include media('<tablet') {
      padding-left: 44px;
    }
  }

  &.style--1 {

    @include media('<tablet') {
      padding-left: 0;
    }

    .card-people {

      .avatar {

        img {
          filter: none;
        }
      }

      &:hover {

        .avatar {

          img {
            filter: grayscale(1);
          }
        }
      }
    }
  }

  &.style--2 {

    @include media('<tablet') {
      padding-left: 0;
    }

    > li:after {
        content: none;
    }

    .card-people {
      max-width: 283px;

      .avatar {

        img {
          filter: none;
        }
      }
    }
  }

  > li {
    @extend %borderwide;
    position: relative;
    padding-top: 3px;

    @include media('<tablet') {
      margin-bottom: 27px;
    }

    &:after {

      @include media('<tablet') {
        right: -9999px;
      }

      // .portfolio & {
      //   top: -2px;
      // }
    }
  }

  &.has-divider {

    > li:after {
      right: -9999px;
    }
  }

  .item {
    background-color: $grey-light;
  }

  .has-alphabet {
    margin-bottom: 0;
    @include media('>=tablet') {
      display: none;
    }

    &.open,
    &.close {
      > a {
        background: $grey-dark;
        color: $white;

        &:after {
          content: '\e916';
        }
      }
    }

    &.close > a:after {
      content: '\e90e';
    }

    &:after {
      content: none;
    }
  }

  address {
    font: 12px/1 $abcfavorit-mono;
    margin-top: 8px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include media('<tablet') {
      font-size: 10px;
      margin-top: 6px;
    }
  }

  .title {
    display: block;
    padding: 8px 0;
    font-size: 40px;
    line-height: 1;

    @include media('<tablet') {
      font-size: 24px;
      line-height: 1.2;
    }
  }
}

.highlight-display {
  margin-bottom: 7px;
  position: relative;
  z-index: 1;

  @include media('<tablet') {
    margin-bottom: 1px;
  }

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: -6px;
    bottom: -5px;
    left: -9999px;
    background: $aquamarine;

    @include media('<tablet') {
      top: -4px;
      bottom: -5px;
    }
  }

  > * {
    display: inline;
    background: $aquamarine;
    margin: 0;
  }

  h2,
  .h2 {
    line-height: 1.17;
  }

  h1,
  .h1 {
    line-height: 0.8;
    display: inline-block;

    span {
      @include media('<tablet') {
        padding-right: 30px;
      }
    }
  }
}

.hld--lime {
  &:before,
  > * {
    background: $lime;
  }
}

.hld--lemonchiffon {
  &:before,
  > * {
    background: $lemonchiffon;
  }
}

.hld--pacific {
  &:before,
  > * {
    background: $pacific;
  }
}

.hld--amber {
  &:before,
  > * {
    background: $amber;
  }
}

.hld--teal {
  &:before,
  > * {
    background: $teal;
  }
}

.hld--lavender {
  &:before,
  > * {
    background: $lavender;
  }
}

.highlight-list-wrap {
  padding: 74px 0 65px;
  overflow: hidden;

  @include media('<tablet') {
    padding: 58px 0 48px;
  }

  .container {
    position: relative;
  }

  h3.caption-1 {
    position: absolute;
    top: -72px;

    @include media('<tablet') {
      top: -54px;
    }
  }
}

.hld--pacific-custom {

  h1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      padding-right: 0;
    }
  }

  > * {
    background: none;
  }

  span {
    background: $pacific;

    &:first-child {
      position: relative;

      &:before {
        width: 9999px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        background: $pacific;
        content: "";
      }
    }

    &:nth-child(2) {
      margin-left: 261px;

      @include media('<tablet') {
        margin-left: 71px;
      }

      @include media('<sm-phone') {
        margin-left: 30px;
      }
    }

    &:nth-child(3) {
      margin-left: 127px;

      @include media('<tablet') {
        margin-left: 35px;
      }

      @include media('<sm-phone') {
        margin-left: 10px;
      }
    }

  }

  &:before {
    display: none;
  }
}

.highlight-list-container {
  overflow: hidden;
}