// ---------------------------------------------------------===
// Banner styles
// ---------------------------------------------------------===

.banner {
  clip-path: polygon(0% 0%, 29.5% 0%, 29.5% 8px, 100% 8px, 100% 100%, 92% 100%, 92% calc(100% - 8px), 53% calc(100% - 8px), 53% 100%, 23.5% 100%, 23.5% calc(100% - 8px), 0% calc(100% - 8px));
  color: white;
  padding: 52px 0 56px;
  text-align: right;
  position: relative;

  @include media('<tablet') {
    clip-path: polygon(0% 4px, 11% 4px, 11% 0%, 77% 0%, 77% 4px, 100% 4px, 100% 100%, 52% 100%, 52% calc(100% - 4px), 0% calc(100% - 4px));
  }

  + #footer {
    margin-top: -9px;
  }

  .container {
    @include media('>=tablet') {
      padding-right: 40px;
    }

    @include media('>=desktop') {
      padding-right: 110px;
    }

    @include media('<tablet') {
      padding: 0 14px;
    }
  }

  .highlight-display {
    margin-bottom: 29px;

    @include media('>=tablet') {
      min-width: 473px;
    }

    > *,
    &:before {
      background-color: $grey-dark;
    }

    > * {
      display: inline;

      @include media('<tablet') {
        line-height: 0.7;
      }
    }

    &:before {
      left: 100%;
      right: -9999px;
      top: -5px;
      
      @include media('>=tablet') {
        height: 74px;
      }

      @include media('<tablet') {
        bottom: 3px;
      }
    }
  }

  .btn-wrap {
    display: flex;
    gap: 12px 24px;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include media('<tablet') {
      text-align: center;
      justify-content: center;
      gap: 4px;
    }
  }

  .bg img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.banner--jobs {
  @include media('<tablet') {
    clip-path: polygon(0% 0%, 34% 0%, 34% 4px, 100% 4px, 100% 100%, 34% 100%, 34% calc(100% - 4px), 0% calc(100% - 4px));
  }
}

.banner--about {
  padding: 88px 0 100px;
  clip-path: polygon(0% 9px, 8% 9px, 8% 0, 37.5% 0%, 37.5% 9px, 100% 9px, 100% calc(100% - 15px), 91.5% calc(100% - 15px), 91.5% calc(100% - 8px), 70% calc(100% - 8px), 70% calc(100% - 14px), 55.5% calc(100% - 14px), 55.5% 100%, 35.5% 100%, 35.5% calc(100% - 15px), 0% calc(100% - 15px));

  @include media('<tablet') {
    clip-path: polygon(0% 4px, 30% 4px, 30% 0, 100% 0, 100% calc(100% - 4px), 91.5% calc(100% - 4px), 91.5% 100%, 70% 100%, 70% calc(100% - 4px), 50.5% calc(100% - 4px), 50.5% 100%, 10.5% 100%, 10.5% calc(100% - 4px), 0% calc(100% - 4px));
  }

  .highlight-display {
    max-width: 530px;
    margin-left: auto;
    text-align: left;
    color: $azure;

    &:before,
    > * {
      background-color: $lime;
    }

    > * {
      display: block;
    }

    &:before {
      height: auto;
      bottom: 0;
      top: 0;
      left: 99%;
    }
  }

  .btn-wrap {
    max-width: 530px;
    margin-left: auto;
    justify-content: flex-start;
  }
}