// ---------------------------------------------------------===
// Text Block style
// ---------------------------------------------------------===

.text-block {
  padding: 64px 0 82px;
  overflow: hidden;

  @include media('<tablet') {
    padding: 27px 0;
  }

  + .highlight-list-wrap {
    padding-top: 0;
  }

  h4 {
    text-align: justify;
    padding-right: 23px;

    @include media('<tablet') {
      margin-bottom: 24px;
      padding: 0;
    }
  }

  h5 {
    text-align: justify;
    padding-right: 23px;

    @include media('<tablet') {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 24px;
      padding: 0;
    }
  }

  .desc {
    padding-left: 25px;
    text-align: justify;

    @include media('<tablet') {
      padding-left: 0;
    }

    a:not([class]) {
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }

  p {

    @include media('<tablet') {
      text-align: justify;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.text-block--research {
    padding: 64px 0 46px;

    @include media('<tablet') {
      padding: 24px 0;
    }

    h5 {

      @include media('<tablet') {
        font-size: 24px;
        line-height: 1.2;
      }
    }
  }

  &.text-block--startup {
    padding: 64px 0;

    @include media('<tablet') {
      padding: 23px 0 0;
    }

    h5 {

      @include media('<tablet') {
        font-size: 24px;
        line-height: 1.2;
      }
    }

    .desc {
      max-width: 561px;
      margin-left: auto;

      @include media('<tablet') {
        max-width: none;
        padding: 17px 0 48px;
      }

      p {
        text-indent: 0;

        &:last-of-type {
          @include media('<tablet') {
            margin-bottom: 15px;
          }
        }
      }
    }

    // .subscribe-form {
    //   max-width: 424px;
    // }

    input[type=email] {
      @include media('<tablet') {
        height: 48px;
      }
    }
  }

  .btn-wrap {
    margin-top: 24px;
  }
}

.text-block-subheadline {
  padding: 80px 0 64px;

  @include media('<tablet') {
    padding: 27px 0 22px;
  }

  &.bg-grey {
    background: $grey-01;
  }
}