// ---------------------------------------------------------===
// Forms
// ---------------------------------------------------------===

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="date"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: $form-border-radius;
  border-radius: $form-border-radius;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color;
  padding: $form-element-padding;
  font-size: 16px;
  height: 48px;
  border-radius: 1px 0 0 0;
  width: 100%;
  outline: none;
  @include animate(color border box-shadow);
  color: $grey-dark;
  background-color: transparent;

  @include placeholder {
    color: $placeholder-color;
    @include animate(color);
    font-size: 14px;
  }

  @include media("<tablet") {
    height: 40px;
  }

  &:hover {
    border-color: $form-element-focus-border-color;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1) inset;

    @include placeholder {
      color: $grey-dark;
    }
  }

  .error & {
    box-shadow: 0px 0px 0px 1px $rust inset !important;
    border: 1px solid $rust !important;
    color: $rust !important;
  }
}

select {
  -webkit-border-radius: $form-border-radius;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: $form-border-radius;
  cursor: pointer;
}

.nice-select {
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  border: 1px solid $form-element-border-color;
  align-items: center;

  label {
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 4px 6px 16px;
  }

  [data-select] {
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 1px 0 0 0;
    text-decoration: none;
    @extend .ellipsis;
    @include animate(color);
    color: $grey-dark;
    flex: 1;
    height: 46px;
    padding: 5px 40px 5px 5px;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      @include animate(box-shadow);
    }

    &:after {
      font: 7px/1 icomoon;
      content: "\e916";
      right: 13px;
      @include box-align(vc);
      font-size: 8px;
    }

    &.active,
    &:hover {
      color: $grey-dark;

      &:before {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1) inset;
      }
    }
  }

  ul {
    @extend %listreset;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: -1px;
    right: -1px;
    border: 2px solid $grey-dark;
    background-color: color(white);
    margin-top: -2px;
    padding: 7px 0;

    a {
      text-decoration: none;
      display: block;
      padding: 11px 14px;
      @include animate(color background-color);
      font-size: 14px;
      color: $grey-dark;
    }

    .active a,
    a:hover {
      background-color: $grey-mid;
      color: $grey-06;
    }
  }
}

@if $niceCheckRadio {
  .nice-form {
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      visibility: hidden;
      opacity: 0;

      &:checked + .nice-label:before,
      & + .nice-label:hover:before {
        border-color: color(black);
      }
    }

    input[type="checkbox"],
    input[type="radio"].square {
      & + .nice-label:before {
        border-radius: 2px;
      }

      &:checked + .nice-label:before {
        content: "\e907";
        background-color: color(black);
        color: color(white);
      }
    }

    input[type="radio"] {
      & + .nice-label:before {
        border-radius: 50%;
      }

      &:checked + .nice-label:before {
        background-color: transparent;
        content: "\e917";
        color: color(black);
        font-size: 12px;
        padding-left: 1px;
      }
    }

    .nice-label {
      padding-left: 30px;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        border: 1px solid $grey-dark;
        background-color: color(white);
        font: 10px/1 icomoon;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        @include animate(border-color background-color color);
      }
    }
  }
}

.error-message {
  font-size: 12px;
  color: $rust;
  display: none;
  padding-top: 7px;
}

.subscribe-form {
  .input {
    position: relative;
  }

  button {
    background: none;
    border: none;
    font-size: 12px;
    color: $grey-mid;
    border-bottom: 1px solid $grey-mid;
    padding: 5px 0 5px;
    border-radius: 0;
    padding: 1px 16px 1px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    @include animate(color border-color);

    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1;
      right: 0;
      font-family: "icomoon";
      content: "\e914";
    }
  }
  input[type="email"] {
    padding-right: 100px;

    &:hover {
      + button {
        color: $grey-dark;
        border-color: $grey-dark;
      }
    }
  }
}

.error {
  .error-message {
    display: block;
  }

  button {
    color: $rust;
    border-color: $rust;
  }
}

.success-message {
  border: 2px solid $aquamarine;
  border-radius: 1px 0 0 0;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  color: $aquamarine;

  &:before {
    font-family: "icomoon";
    content: "\e915";
    margin-right: 7px;
    font-size: 12px;
  }
}

.search-form {
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    border: none;
    padding: 0;
    background: none;
    line-height: 1;
    font-size: 15px;
  }

  .icon-cross {
    display: none;
    font-size: 13px;
  }

  .input {
    position: relative;
  }

  input {
    &:focus {
      + button {
        .icon-cross {
          display: block;
        }

        .icon-search {
          display: none;
        }
      }
    }
  }
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  height: 100%;
  padding: 18px 54px 18px 16px;
  color: $grey-dark;
  background-color: $white;
  cursor: pointer;
  border-radius: 0;
  font: 12px/1 $abcfavorit-mono;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 100%;

  @include media("<tablet") {
    padding: 12px 54px 12px 16px;
  }
}

select::-ms-expand {
  display: none;
}

.select {
  @include animate(border);
  position: relative;
  height: 48px;

  @include media("<tablet") {
    height: 40px;
  }

  + .select {
    &:before {
      @include media(">=tablet") {
        border-left-color: transparent;
      }

      @include media("<tablet") {
        border-top-color: transparent;
      }
    }

    &:hover:before {
      @include media(">=tablet") {
        border-left-color: $grey-dark;
        border-left-width: 1px;
      }

      @include media("<tablet") {
        border-top-color: $grey-dark;
        border-top-width: 1px;
      }
    }
  }

  + .search-form {
    @include media(">=tablet") {
      margin-left: -1px;
    }

    @include media("<tablet") {
      margin-top: -1px;
    }

    input {
      @include media(">=tablet") {
        border-left-color: transparent;
      }

      @include media("<tablet") {
        border-top-color: transparent;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $grey-dark;
    pointer-events: none;
  }

  &:hover:before {
    border-width: 2px;
  }

  &:after {
    content: "\e916";
    @include box-align(vc);
    font: 6px/1 "icomoon";
    right: 19px;
    pointer-events: none;
  }
}
