// ---------------------------------------------------------===
// Typography
// ---------------------------------------------------------===

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: 400;
  margin: 0 0 0.5em;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-family: $sixteen-mono-regular;
  line-height: 1;
  
  @include media('<tablet') {
    font-size: $h1-font-size-sm;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 1;
  
  @include media('<tablet') {
    font-size: $h2-font-size-sm;
    line-height: 1.2;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: 1;
  
  @include media('<tablet') {
    font-size: $h3-font-size-sm;
    line-height: 1.2;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: 1;
  
  @include media('<tablet') {
    font-size: $h4-font-size-sm;
    line-height: 1.2;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  line-height: 1.2;
  
  @include media('<tablet') {
    font-size: $h5-font-size-sm;
  }
}

h6, .h6 {
  font-size: $h6-font-size;
  line-height: 1.2;
  
  @include media('<tablet') {
    font-size: $h6-font-size-sm;
    line-height: 1.1875;
  }
}

p {
  margin: 0 0 1.3889em;
}

a {
  color: $base-link-color;
  @include animate(color background border-color);
  text-decoration: none;
  
  &:hover {
    color: color(black,7);
  }
}

.caption-1,
.caption-2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font: 400 14px/1 $abcfavorit-mono;
}

.caption-2 {
  font-size: 12px;
}