// ---------------------------------------------------------===
// Footer styles
// ---------------------------------------------------------===

#footer {
  background: $grey-dark;
  padding: 60px 0;
  color: $grey-mid;
  line-height: 1.4167;
  overflow: hidden;

  @include media("<tablet") {
    padding: 0;
  }

  .heading {
    max-width: 400px;

    @include media("<tablet") {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  h6 {
    margin-bottom: 19px;

    @include media("<tablet") {
      margin-bottom: 12px;
    }

    span {
      background: $white;
      padding-bottom: 3px;
    }
  }

  .subscribe-form {
    padding: 25px 20px 25px 41px;

    @include media("<desktop") {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include media("<tablet") {
      padding: 24px 16px;
    }

    .form-group {
      padding-top: 24px;

      @include media("<tablet") {
        padding-top: 7px;
      }
    }
  }
}

.subscribe-form {
  &.style-1 {
    input[type="email"] {
      background: $white;
      border: $white;
    }

    button {
      color: $grey-mid;
      border-color: $grey-mid;

      &:hover {
        color: $grey-dark;
        border-color: $grey-dark;
      }
    }
  }

  input[type="email"] {
    color: $grey-dark;
    font-size: 14px;
    padding: 12px 100px 8px 15px;

    @include placeholder {
      color: $grey-dark;
    }
  }

  button {
    font-size: 14px;
    color: $grey-dark;
    border-color: $grey-dark;
  }
}

.footer-t {
  @include media("<tablet") {
    padding: 41px 0;
    background: $grey-08;
  }

  .box {
    background: $aquamarine;
    color: $grey-dark;
    font-size: 20px;
    line-height: 1.2;
    position: relative;

    &:before,
    &:after {
      width: 16px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-image: url("#{$image-path}/decor01.svg");
      content: "";
      background-size: cover;
      background-position: 50% 50%;
      z-index: 1;

      @include media("<tablet") {
        width: auto;
        bottom: auto;
        height: 18px;
        left: 0;
        right: 0;
        background-image: url("#{$image-path}/bg-box-t.svg");
        top: -17px;
      }
    }

    &:after {
      right: 0;
      left: auto;
      background-image: url("#{$image-path}/decor02.svg");

      @include media("<tablet") {
        top: auto;
        left: 0;
        background-image: url("#{$image-path}/bg-box-b.svg");
        bottom: -16px;
        height: 16px;
      }
    }

    p {
      margin-bottom: 10px;

      @include media("<tablet") {
        padding-right: 50px;
      }
    }
  }

  .subscribe-form {
    position: relative;

    &:after {
      @include media("<tablet") {
        content: "";
        height: 16px;
        position: absolute;
        bottom: -16px;
        left: 11px;
        right: 0;
        background-image: url("#{$image-path}/bg-box-m.svg");
        content: "";
        background-size: cover;
        background-position: 50% 50%;
        z-index: 1;
      }
    }
  }
}

.podcast-box {
  background: $grey-light;
  height: 100%;
  padding: 25px 41px 16px 21px;
  position: relative;

  @include media("<desktop") {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media("<tablet") {
    padding: 41px 16px 5px;
  }

  &:before {
    width: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    background-image: url("@/assets/images/decor03.svg");
    content: "";
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;

    @include media("<desktop") {
      display: none;
    }
  }
}

.podcast-list {
  @extend %listreset;
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  font-family: $abcfavorit-mono;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include media("<tablet") {
    font-size: 10px;
    margin: 0 -12px;
  }

  li {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 20px;
    position: relative;

    @include media("<tablet") {
      padding: 0 12px;
    }

    &:nth-child(n + 3) {
      a {
        border-top: 1px dashed $grey-dark;
      }
    }

    &:hover {
      .slide {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  [class^="icon-"] {
    font-size: 23px;

    @include media("<tablet") {
      font-size: 16px;
    }
  }

  .icon-spotify {
    font-size: 25px;

    @include media("<tablet") {
      font-size: 18px;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $grey-dark;
    padding: 9px 0 6px;
    position: relative;

    @include media("<tablet") {
      padding: 8px 0 11px;
    }

    &:hover {
      color: $grey-mid;
    }

    &.more {
      padding: 14px 24px 11px 0;

      &:after {
        position: absolute;
        right: 3px;
        top: 14px;
        font-family: "icomoon";
        content: "\e916";
        font-size: 7px;
      }
    }
  }

  .text {
    padding-right: 10px;
  }

  .slide {
    @include animate(all);
    position: absolute;
    left: 20px;
    right: 20px;
    top: 100%;
    background: $grey-light;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    .podcast-list {
      display: block;

      li {
        max-width: none;
      }
    }
  }
}

.follow-us-block {
  padding: 45px 0 41px;
  position: relative;

  @include media("<tablet") {
    padding: 21px 0;
  }

  &:after {
    border-bottom: 1px dashed $grey-mid;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99999px;
    content: "";
    opacity: 0.6;
  }

  .title {
    font-family: $abcfavorit-mono;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $grey-light;

    @include media("<tablet") {
      display: none;
    }
  }
}

.follow-us {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -4px;

  li {
    padding: 4px;
  }

  [class^="icon-"] {
    font-size: 18px;

    @include media("<tablet") {
      font-size: 15px;
    }
  }

  .icon-twitter {
    font-size: 16px;

    @include media("<tablet") {
      font-size: 13px;
    }
  }

  .icon-youtube {
    font-size: 15px;

    @include media("<tablet") {
      font-size: 13px;
    }
  }

  .icon-linkedin {
    font-size: 19px;

    @include media("<tablet") {
      font-size: 15px;
    }
  }

  .icon-discord {
    font-size: 20px;

    @include media("<tablet") {
      font-size: 18px;
    }
  }

  a {
    color: $white;
  }
}

.footer-nav-wrap {
  padding: 32px 0 24px;
  position: relative;

  @include media("<tablet") {
    position: static;
    padding: 23px 0;
  }

  &:after {
    border-bottom: 1px dashed $grey-mid;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99999px;
    content: "";
    opacity: 0.6;

    @include media("<tablet") {
      content: none;
    }
  }

  [class*="col-"] {
    @include media("<tablet") {
      position: static;
    }
  }

  .logo {
    @include media("<tablet") {
      position: absolute;
      top: 33px;
      left: 20px;
    }
  }
}

.footer-nav {
  @extend %listreset;
  margin: -4px;
  font-size: 12px;
  line-height: 1.4;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 7px;

  @include media("<tablet") {
    position: relative;
    font-size: 14px;
    margin: -8px;
  }

  &:after {
    @include media("<tablet") {
      border-bottom: 1px dashed $grey-mid;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 99999px;
      content: "";
      opacity: 0.6;
    }
  }

  li {
    padding: 4px;

    @include media("<tablet") {
      width: 50%;
      padding: 8px;
    }
  }

  a {
    color: $grey-light;
  }
}

.footer-b {
  font-size: 12px;
  line-height: 1.4;
  color: $grey-mid;
  text-align: justify;
  padding-top: 33px;

  @include media("<tablet") {
    font-size: 10px;
    padding: 7px 0 32px;
  }

  p {
    @include media("<tablet") {
      margin-bottom: 29px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .copyright {
    @include media("<tablet") {
      font-size: 12px;
    }
  }
}

.items-center {
  align-items: center;
}

.footer-m {
  @include media("<tablet") {
    padding-top: 112px;
    position: relative;
  }
}
